{% extends 'base.html.twig' %}

{% block title %}Conference - {{ conference.title }}{% endblock %}

{% block body %}
    <h3>{{ conference.title }}</h3>
    <p>{{ conference.body }}</p>

    <h3>Add comment:</h3>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button type="submit">Comment</button>
    {{ form_end(commentForm) }}

    <h3>Comments ({{ comments|length }}):</h3>
    {% if comments|length > 0 %}
        {% for comment in comments %}
            <h4>{{ comment.author.firstName ~ ' ' ~ comment.author.lastName}}</h4>
            <p>{{ comment.text }}</p>
            <small>{{ comment.created|date('H:i:s d.m.Y') }}</small>
        {% endfor %}
        {% if previous >= 0 %}
            <a href="{{ path('conference_show', { slug: conference.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference_show', { slug: conference.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <p>No comments</p>
    {% endif %}
{% endblock %}
